# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build artifacts
build/
dist/
*.spec
*.manifest
*.exe

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
